<section class="foods">
  <h1>Foods</h1>

  <div class="button-container">
    <div class="add-food-button">
      <%= link_to "Add food", new_user_food_path %>
    </div>
  </div>

  <table cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %>$</td>
          <td>
            <%= button_to "Destroy", user_food_path(current_user.id, food.id), method: :delete%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>