<header>
  <%if user_signed_in?%>
    <nav class="navbar">
      <ul class="nav-list">
        <li><%= link_to "Foods", [current_user, :foods] %></li>
        <li><%= link_to "Recipes", [current_user, :recipes] %></li>
        <li><%= link_to "Public Recipes", public_recipes_path %></li>
        <li><%= link_to "Shopping List", user_shopping_list_index_path(current_user.id) %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :post %></li>
      </ul>
    </nav>
  <% end %>
</header>
